@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media  (min-width: 1000px){

    .hamburguesa{
        display: none !important;
    }
    
    body{
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color:rgb(37, 37, 37) ;
    }
    
    header{
        display: flex;
        height: 100px;
        background-attachment: fixed;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    header i{
        font-size: 45px;
        color: #DD1C1A;
        border: #DD1C1A solid ;
        border-radius: 10px;
        margin-left: 50px;
    }
    
    header ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 50px;
        list-style: none;
        font-size: 35px;
        margin-right: 50px;
    }
    
    header ul a{
        text-decoration: none;
        color: #FFF1D0;
    }
    
    main{
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background: linear-gradient(to bottom, rgb(0 0 0/.5), rgb(0 0 0/.5)), url("../resources/background.png");
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }



    main h1{
        color:#DD1C1A;
        font-size: 90px;
        text-align: center;
        margin-bottom: 50px;
    }

    main section{
        margin: 110px;
    }

    section h2{
        color:#FFF1D0;
        font-size: 35px;
        word-spacing: 7px;
    }

    footer{
        background-attachment: fixed;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 45px;
    }
    
    footer div{
        display: flex;
        gap: 100px;
        margin: 50px;
    }
    
    footer div i{
        border: #DD1C1A solid ;
        border-radius: 10px;
        color: #DD1C1A;
    }
    
    header i:hover{
        border: #DD1C1A solid ;
        border-radius: 10px;
        background-color: white;
        cursor: pointer;
    }
    
    header ul li:visited{
        color: black;
    }
    
    header ul a:hover{
        display: inline-block;
        color: #DD1C1A;
        transition: 0.3s;
    }
    
    header ul a:active{
        text-decoration: underline;
    }

    main section div:hover{
        transform: scale(1.15);
        transition: .3s;
    }


    
    footer div i:hover{
        font-size: 45px;
        transition: .3s;
        background-color: white;
    }
    
    footer div i:active{
        font-size: 50px;
        transition: .3s;
        outline: 4px #DD1C1A solid;
    }


}